::selection{
    background-color: transparent;
}

html,
body {
  overflow-x: hidden;
}


.blob-shape {
  clip-path: path(
    "M421.5,303Q374,356,315,389Q256,422,194.5,393.5Q133,365,106.5,310.5Q80,256,95,190.5Q110,125,178,96.5Q246,68,307,101Q368,134,416.5,195Q465,256,421.5,303Z"
  );
}
